section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	padding: 20px;
	text-align: center;

	&.bricks {
		background-image: url(../img/sign/bricks.png);
	}

	&.fabric {
		background-image: url(../img/sign/fabric.png);
	}

	&.speaker {
		background-image: url(../img/sign/speaker.png);
	}

	&.stars {
		background-image: url(../img/sign/stars.png);
	}

	&.tiles {
		background-image: url(../img/sign/tiles.png);
	}

	&.wood {
		background-image: url(../img/sign/wood.png);
	}

	.letters {
		position: relative;
		line-height: 1;
		font-family: 'Neon Thick';
		letter-spacing: -3px;
	}

	.letters:before,
	.letters:after {
		content: '';
		position: absolute;
		z-index: 1;
		left: 0;
		border-radius: 3px;
		width: 100%;
		height: 6px;
		background: linear-gradient(
			to bottom,
			#4c4c4c 0%,
			#595959 12%,
			#666666 25%,
			#474747 39%,
			#2c2c2c 50%,
			#000000 51%,
			#111111 60%,
			#2b2b2b 76%,
			#1c1c1c 91%,
			#131313 100%
		);
	}

	.letters:before {
		top: 40%;
	}

	.letters:after {
		top: 65%;
	}

	a {
		position: relative;
		z-index: 2;
		text-decoration: none;
		font-size: 120px;
		text-shadow: 10px 10px 4px rgba($pure-black, .7);
	}

	a:not(.lit) {
		text-shadow: 1px 1px 0 rgba($mid-grey, .8),
			-1px -1px 0 rgba($mid-grey, .8);
	}

	a.lit,
	.all-lit a {
		color: rgba($pure-white, .95) !important;
	}

	a.red:not(.lit) {
		color: $red;
	}

	a.red.lit,
	.all-lit a.red {
		text-shadow: 0 0 20px $red-lit,
			-10px -10px 5px rgba($red-lit, .2),
			2px 2px 3px $red-lit,
			-2px -2px 3px $red-lit,
			10px 10px 4px rgba($pure-black, .7);
	}

	a.yellow:not(.lit) {
		color: $yellow;
	}

	a.yellow.lit,
	.all-lit a.yellow {
		text-shadow: 0 0 20px $yellow-lit,
			-10px -10px 5px rgba($yellow-lit, .1),
			2px 2px 3px $yellow-lit,
			-2px -2px 3px $yellow-lit,
			10px 10px 4px rgba($pure-black, .7);
	}

	a.pink:not(.lit) {
		color: $pink;
	}

	a.pink.lit,
	.all-lit a.pink {
		text-shadow: 0 0 20px $pink-lit,
			-10px -10px 5px rgba($pink, .2),
			2px 2px 3px $pink-lit,
			-2px -2px 3px $pink-lit,
			10px 10px 4px rgba($pure-black, .7);
	}

	a.blue:not(.lit) {
		color: $blue;
	}

	a.blue.lit,
	.all-lit a.blue {
		text-shadow: 0 0 20px $blue-lit,
			-10px -10px 5px rgba($blue-lit, .2),
			2px 2px 3px $blue-lit,
			-2px -2px 3px $blue-lit,
			10px 10px 4px rgba($pure-black, .7);
	}

	a.green:not(.lit) {
		color: $green;
	}

	a.green.lit,
	.all-lit a.green {
		text-shadow: 0 0 20px $green-lit,
			-10px -10px 5px rgba($green-lit, .2),
			2px 2px 3px $green-lit,
			-2px -2px 3px $green-lit,
			10px 10px 4px rgba($pure-black, .7);
	}

	a.white:not(.lit) {
		color: $white;
	}

	a.white.lit,
	.all-lit a.white {
		text-shadow: 0 0 20px $white-lit,
			-10px -10px 5px rgba($white-lit, .2),
			2px 2px 3px $white-lit,
			-2px -2px 3px $white-lit,
			10px 10px 4px rgba($pure-black, .7);
	}

	a.teal:not(.lit) {
		color: $teal;
	}

	a.teal.lit,
	.all-lit a.teal {
		text-shadow: 0 0 20px $teal-lit,
			-10px -10px 5px rgba($teal-lit, .2),
			2px 2px 3px $teal-lit,
			-2px -2px 3px $teal-lit,
			10px 10px 4px rgba($pure-black, .7);
	}
}