@import 'reset';

$font-family-text: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-face {
	font-family: 'Neon Thick';
	src: url('../fonts/neon.woff') format('woff');
}

body {
	padding: 0;
	margin: 0;
}

.view {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.note {
	text-shadow: -1px -1px 0 #88898b;
	font: 1em $font-family-text;
	color: #dfdde0;
}

@import 'components/sign';
@import 'components/buttons';