@font-face {
	font-family: 'Fortuna Dot';
	src: url('../fonts/fortuna_dot.woff2') format('woff2'),
		url('../fonts/fortuna_dot.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #444;
}

h1 {
	font: 42px sans-serif;
	color: #fcffb0;
}

header h1 {
	text-align: center;
}

form {
	margin: 2em 0;
	text-align: center;
}

@import 'view/components/board';
@import 'view/components/button';