.board {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	border: 8px ridge #bababa;
	border-radius: 25px;
	padding: 10px;
	background: url(../img/ep_naturalwhite.png);
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.buttons > * {
	display: block;
	position: relative;
	margin: 5px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	font: 96px/100% 'Fortuna Dot';
	border: 5px solid #6e6e73;
	border-radius: 30px;
	color: #222;
	background-color: #929193;
	background: linear-gradient(to bottom, #7e7d7f 0%, #9d9c9f 36%, #7e7d7f 100%);
}

.buttons span {
	display: block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), -2px -2px 0 rgba(0, 0, 0, 0.3);
	border-left: 8px solid #676767;
	border-top: 8px solid #515151;
	border-right: 8px solid #9d9d9d;
	border-bottom: 8px solid #b4b4b4;
	border-radius: 25px;
	padding:	5px;
	letter-spacing: -3px;
	-webkit-font-smoothing: antialiased;
}

.buttons > .lit,
.buttons.all-lit > * {
	color: #fff;
	background-color: #eee;
	background: linear-gradient(to bottom, #a5a4a7 0%, #c3bfc7 36%, #a5a4a7 100%);
}

.buttons > .lit span,
.buttons.all-lit span  {
	border-left-color: #959595;
	border-top-color: #959595;
	border-right-color: #aaaaaa;
	border-bottom-color: #c5c5c5;
}

.button-blue {
	color: #4338b3;
}

.button-blue.lit span,
.all-lit .button-blue span {
	text-shadow: 0 0 40px #1e1eec, -1px -1px 0 rgba(0, 0, 0, 0.3), -2px -2px 0 rgba(0, 0, 0, 0.3);
}

.button-red {
	color: #b33234;
}

.button-red.lit span,
.all-lit .button-red span {
	text-shadow: 0 0 40px #ec2615, -1px -1px 0 rgba(0, 0, 0, 0.3), -2px -2px 0 rgba(0, 0, 0, 0.3);
}

.button-yellow {
	color: #acb330;
}

.button-yellow.lit span,
.all-lit .button-yellow span {
	text-shadow: 0 0 40px #ece315, -1px -1px 0 rgba(0, 0, 0, 0.3), -2px -2px 0 rgba(0, 0, 0, 0.3);
}

.button-pink {
	color: #b34eb0;
}

.button-pink.lit span,
.all-lit .button-pink span {
	text-shadow: 0 0 40px #ec18d7, -1px -1px 0 rgba(0, 0, 0, 0.3), -2px -2px 0 rgba(0, 0, 0, 0.3);
}

.button-green {
	color: #32b31a;
}

.button-green.lit span,
.all-lit .button-green span {
	text-shadow: 0 0 40px #22ec11, -1px -1px 0 rgba(0, 0, 0, 0.3), -2px -2px 0 rgba(0, 0, 0, 0.3);
}