button {
	-webkit-display: none;
	position: relative;
	margin: 0 5px;
	outline: 0;
	border: 0;
	padding: 0;
	font: 24px sans-serif;
	cursor: pointer;

	span {
		position: relative;
		display: block;
		box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
		border: 2px solid #ccc;
		border-radius: 5px;
		padding: 10px;
		color: #333;
		background-color: #eee;
	}

	&.play span {
		border-color: #138c1d;
		color: #185d16;
		background: linear-gradient(to bottom, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
	}

	&.stop span {
		border-color: #8c2612;
		color: #ffcecf;
		background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	}
}

button:focus span,
button:hover span {
	left: -4px;
	top: -4px;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.4);
}

button:active span {
	left: -1px;
	top: -1px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}